## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Descriptions,Lat,Lng,Hotel Name
0,0,Broken Hill,AU,68.00,clear sky,-31.9500,141.4333,Royal Exchange Hotel
1,14,Busselton,AU,73.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
2,15,Jijiga,ET,61.57,moderate rain,9.3500,42.8000,RAMAAS HOTEL
3,17,Hobart,AU,66.20,few clouds,-42.8794,147.3294,Mantra on Collins Hobart
4,18,Los Llanos de Aridane,ES,66.20,broken clouds,28.6585,-17.9182,Valle Aridane

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Descriptions</dt><dd>{Current Descriptions}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""



# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
#hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
#locations = clean_hotel_df[["Lat", "Lng"]]
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)



# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

#vacation_df[""]

vacation_start = vacation_df.loc[vacation_df["City"] == 'Yambio']
#vacation_start.head()
vacation_end = vacation_df.loc[vacation_df["City"] == 'Kisangani']
vacation_stop1 = vacation_df.loc[vacation_df["City"] =='Yei']
vacation_stop2 = vacation_df.loc[vacation_df["City"] =='Watsa'] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] =='Rwamagana']

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

vacation_start.head()
#result = tuple(map(tuple, ini_array))

start = tuple(map(tuple,vacation_start[['Lat','Lng']].to_numpy()))[0]
end = tuple(map(tuple,vacation_end[['Lat','Lng']].to_numpy()))[0]
stop1 = tuple(map(tuple,vacation_stop1[['Lat','Lng']].to_numpy()))[0]
stop2 = tuple(map(tuple,vacation_stop2[['Lat','Lng']].to_numpy()))[0]
stop3 = tuple(map(tuple,vacation_stop3[['Lat','Lng']].to_numpy()))[0]

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".



fig = gmaps.figure()
directionroute = gmaps.directions_layer(
        start,end, waypoints=[stop1,stop2,stop3],
        travel_mode='WALKING')
fig.add_layer(directionroute)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Descriptions,Lat,Lng,Hotel Name
0,459,Yambio,SS,68.02,overcast clouds,4.5721,28.3955,Naivasha Hotel
1,456,Yei,SS,66.90,overcast clouds,4.0950,30.6779,City Link Hotel
2,156,Watsa,CD,63.79,light rain,3.0372,29.5355,HÃ´tel Le Pacifique
3,139,Rwamagana,RW,62.60,broken clouds,-1.9487,30.4347,Avega East Hostel
4,422,Kisangani,CD,68.74,overcast clouds,0.5167,25.2000,Grand Ramela Hotel

In [27]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Descriptions</dt><dd>{Current Descriptions}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
#print(hotel_info)
#marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#fig.add_layer(directionroute)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))